:root {
  font-family: system-ui;
  --mainbgcolor: #eeeeee;
  --headerbarcolor: #c7c7c7;
}

.menuBar {
  align-items: center;
  height: 50px;
  width: auto;
  font-family: system-ui;
  border-bottom: 1px solid black;
  display: flex;
}
.menubar {
  display: flex;
}

.title {
  font-size: x-large;
  margin-left: 20px;
}
.about {
  margin-right: 20px;
  color: rgb(36, 35, 35);
  font-size: medium;
  margin-left: auto;
}

.main {
  display: flex;
  align-items: center;
  align-content: center;
}

.left {
  margin: 20px;
  width: 60%;
  height: 500px;
}

/* .right {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 40%;
  height: 500px;
  border: 1px solid;
} */
.right {
  height: 500px;
  width: 40%;
}
/* .toast {
  position: absolute;
  bottom: 10px;
  left: 75%;
} */
/* .content {
  border: 1px solid black;
  padding-top: 30%;
  width: 100px;
  height: 100px;
  align-self: center;
} */
.buttongrp {
  padding-top: 30%;
}
.notestitle {
  background: var(--headerbarcolor);
  justify-content: center;
  height: 50px;
  width: auto;
}
.Notestart {
  text-align: center;
  margin-top: auto;
  align-self: center;
  justify-content: center;
}
h3 {
  text-align: center;
}
.textbox {
  width: auto;
  border-radius: 7px;
}
@media screen and (max-width: 600px) {
  .right {
    height: 400px;
    width: 60%;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
